<div class="background-image animal">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="box">
                            {{#if (isObject user)}}
                                <figure class="image is-128x128 container">
                                    <img src="{{ user.avatar }}" alt="avatar" crossorigin="anonymous"/>
                                </figure>
                                <div class="container has-text-centered has-padding-7">
                                    <div class="tag is-light is-primary is-rounded">{{ user.username }}</div>
                                </div>
                            {{/if}}

                            {{#if (and (and (isObject user) (isString token)) (not consumed))}}
                                <form id="form" action="javascript:void(0);">
                                    <div class="field">
                                        <label for="" class="label">New password</label>
                                        <div class="control has-icons-left">
                                            <input type="password" placeholder="********" id="password" class="input" autocomplete="off" autocorrect="off" autocapitalize="none" minlength="8" maxlength="64" required/>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                        <p id="password-message-min-length" class="help is-danger is-hidden">Insert a valid password that is at least 8 characters long</p>
                                        <p id="password-message-max-length" class="help is-danger is-hidden">Insert a valid password that is at most 64 characters long</p>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label">Repeat password</label>
                                        <div class="control has-icons-left">
                                            <input type="password" placeholder="********" id="password-repeat" class="input" autocomplete="off" autocorrect="off" autocapitalize="none" minlength="8" maxlength="64" required/>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                        <p id="password-repeat-message" class="help is-danger is-hidden">The two passwords does not match</p>
                                    </div>

                                    <input type="hidden" id="token" value="{{ token }}"/>
                                    
                                    <div class="field">
                                        <button type="submit" class="button is-primary is-uppercase has-text-weight-semibold is-fullwidth">
                                            <span class="icon is-small">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span>Reset</span>
                                        </button>
                                    </div>

                                    <div id="error" class="field has-text-centered is-hidden">
                                        <div class="notification is-danger">
                                            😔 Internal server error, retry . . .
                                        </div>
                                    </div>

                                    <div id="success" class="field has-text-centered is-hidden">
                                        <div class="notification is-success">
                                            <i class="fas fa-check-circle"></i>
                                            Password changed successfully
                                        </div>
                                    </div>
                                </form>
                            {{else}}
                                <div class="notification is-danger has-text-centered">
                                    <i class="fas fa-exclamation-circle"></i>
                                    {{#if (and (isObject user) consumed)}}
                                        The token has been already used
                                    {{else if (isObject user)}}
                                        The token is expired
                                    {{else}}
                                        The token does not exists
                                    {{/if}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>